@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        font-family: 'Roboto', sans-serif;
        background-color: var(--bg-color);
        color: var(--White);
    }    
}


:root {
    --bg-color: #171F2B;
    --Blue: #00D7FF;
    --White: #FFFFFF;
    --Grey: #2C333D;
    --p-tag: #838892;
}