@import "tailwindcss";

@theme {
  --font-display: "Poppins", "serif";
  --color-regal-blue: #4769F3;
  --color-regal-black: #090E34;
  --color-regal-skyblue: #4A6CF7;
  --color-regal-hover: #5C7AF8;
  --color-regal-gray: #959CB1;
}

body {
  font-family: var(--font-display);
  background-color: #FFFFFF;
}

@keyframes scroll {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite alternate;
}